<div class="ui top fixed menu">
    <a (click)="toggleSidebar()" class="item">
        <!--<img src="/images/logo.png">-->
        <img src="./assets/favicons/android-chrome-256x256.png">
    </a>
    <!--
    <a class="item">Features</a>
    <a class="item">Testimonials</a>
    -->
    <a class="item">Sign-in</a>
    <div class="ui pointing dropdown link item">
        <span class="text">Shopping</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="header">Categories</div>
            <div class="item">Clothing</div>
            <div class="item">Home Goods</div>
            <div class="item">Bedroom</div>
            <div class="divider"></div>
            <div class="header">Order</div>
            <div class="item">Status</div>
            <div class="item">Cancellations</div>
        </div>
    </div>

    <div class="right menu">
        <a class="item ui browse" id="GPopup">
            <i class="user icon"></i>
        </a>
        <div class="ui fluid popup bottom right transition hidden"
             style="top: 553px; left: 1px; bottom: auto; right: auto; width: 906px;">
            <!--
          <form class="ui form" style="width: 250px;">
            <div class="field">
              <label>Nickname</label>
              <input name="nickname" placeholder="Nickname">
            </div>
            <div class="field">
              <label>Password</label>
              <input type="password" name="password" placeholder="Password">
            </div>

            <div class="fields">
              <button class="ui button" type="submit">Login</button>
              <button class="ui button" type="button">Sign in</button>
            </div>
          </form>
          -->
            <profile-component></profile-component>

        </div>
        <a (click)="toggleSearchbar()" class="item">
            <i class="search icon"></i>
        </a>
        <!--
        <div class="ui category search item">
          <div class="ui transparent icon input">
            <input class="prompt" type="text" placeholder="Search animals...">
            <i class="search link icon"></i>
          </div>
          <div class="results"></div>
        </div>
        <a class="ui item">
          Logout
        </a>
        -->
    </div>

</div>
