.large.green.checkmark.icon {
    cursor: pointer;
}

.top-controls {
    display: flex;
    align-items: flex-start;
    margin-top: 1em;
    flex-wrap: wrap;

    & > * {
        margin: 0 1em;
    }
}

.grid-movies {
    $title-height: 53px;
    $radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
