.large.green.checkmark.icon {
    cursor: pointer;
}

.top-controls > * {
    margin-left: 2em;
}

.grid-movies {
    $title-height: 53px;
    $radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
