<div class="top-controls">
    <mat-form-field>
        <input #searchPatter
               matInput
               (input)="paginator.search(searchPatter.value)"
               placeholder="Search"
               type="search">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-button-toggle-group (valueChange)="setPreviewType($event)" aria-label="Font Style" name="fontStyle">
        <mat-button-toggle value="table">Table</mat-button-toggle>
        <mat-button-toggle value="grid">Grid</mat-button-toggle>
    </mat-button-toggle-group>
</div>
<ng-container *ngIf="previewType === 'table'">
    <div style="padding: 1em">
        <input [(ngModel)]="showExternalServices" id="idShowExternalServices" name="example" type="checkbox">
        <label for="idShowExternalServices">Zobraziť externé služby</label>
    </div>
    <ng-template #cellDirectors let-row="row">
        <button (click)="movieService.showMakerDetail(director.id)" *ngFor="let director of row.directors"
                mat-button>{{director.name}}</button>
    </ng-template>
    <ng-template #cellTitle let-row="row">
        <div style="display: flex; flex-direction: row">
            <img (click)="openImageDetail(row.avatar)"
                 *ngIf="row.avatar"
                 [src]="row.avatar"
                 alt="row avatar" style="height: 42px; border-radius: 3px; margin-right: 1em; cursor: pointer">
            <div style="display: flex; flex-direction: column; justify-content: space-between;">
                <strong>{{row.titleSk || row.title}}</strong>
                <div *ngIf="row.titleSk" class="sub header">{{row.title}}</div>
            </div>
        </div>
    </ng-template>
    <ng-template #cellExternal let-row="row">
        <app-external-links type="movie" [holder]="row"></app-external-links>
    </ng-template>
    <ng-template #cellDetail let-row="row">
        <button (click)="movieService.showMovieDetail(row.id)"
                color="primary"
                mat-mini-fab>
            <mat-icon>chevron_right</mat-icon>
        </button>
    </ng-template>
    <app-abstract-table [tableConfig]="movieConfig"
                        [templates]="{title: cellTitle, external: cellExternal, detail: cellDetail, directors: cellDirectors}"
                        [data]="movieData"></app-abstract-table>
</ng-container>


<ng-container *ngIf="previewType === 'grid'">
    <div class="grid-movies">
        <app-movie-poster-preview *ngFor="let movie of paginator.list | async | movieFilter: searchPattern"
                                  [movie]="movie"></app-movie-poster-preview>
    </div>
    <div style="text-align: center">
        <button (click)="paginator.loadNext()" class="next-loader" color="primary" mat-raised-button>Load next movies
        </button>
    </div>
</ng-container>
