<div class="top-controls">
    <section class="preview-type">
        <mat-radio-group *ngIf="previewType$ | async as previewType"
                         (change)="setPreviewType($event.value)"
                         aria-label="Preview type"
                         name="preview type">
            <mat-radio-button [checked]="previewType === 'table'" value="table">{{"movies.show.table" | translate}}</mat-radio-button>
            <mat-radio-button [checked]="previewType === 'grid'" value="grid">{{"movies.show.grid" | translate}}</mat-radio-button>
        </mat-radio-group>
    </section>
    <mat-form-field class="flex-grow-1">
        <input #searchPatter
               (input)="onSearchPatternChange(searchPatter.value)"
               matInput
               [placeholder]="'movies.search' | translate"
               type="search">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>

<ng-container [ngSwitch]="previewType$ | async">
    <ng-container *ngSwitchCase="'table'" [ngTemplateOutlet]="previewTypeTable"></ng-container>
    <ng-container *ngSwitchCase="'grid'" [ngTemplateOutlet]="previewTypeGrid"></ng-container>
</ng-container>

<ng-template #previewTypeTable>
    <ng-template #cellDirectors let-row="row">
        <button (click)="onShowMakerDetailClick(director.id)" *ngFor="let director of row.directors"
                mat-button>{{director.name}}</button>
    </ng-template>
    <ng-template #cellTitle let-row="row">
        <div class="flex-row">
            <img (click)="openImageDetail(row.avatar)"
                 *ngIf="row.avatar"
                 [src]="row.avatar"
                 alt="row avatar" style="height: 42px; border-radius: 3px; margin-right: 1em; cursor: pointer">
            <div class="flex-column"
                 style="justify-content: space-between;">
                <strong>{{row.titleSk || row.title}}</strong>
                <div *ngIf="row.titleSk" class="sub header">{{row.title}}</div>
            </div>
        </div>
    </ng-template>
    <ng-template #cellExternal let-row="row">
        <app-external-links type="movie" [holder]="row"></app-external-links>
    </ng-template>
    <ng-template #cellDetail let-row="row">
        <button (click)="onShowMovieDetailClick(row.id)"
                color="primary"
                [matTooltip]="'movies.openDetail' | translate"
                mat-icon-button
        >
            <mat-icon>chevron_right</mat-icon>
        </button>
    </ng-template>
    <app-abstract-table [tableConfig]="movieConfig"
                        [templates]="{title: cellTitle, external: cellExternal, detail: cellDetail, directors: cellDirectors}"
                        [data]="movieList$ | async"></app-abstract-table>
</ng-template>

<ng-template #previewTypeGrid>
    <div class="grid-movies">
        <app-movie-poster-preview *ngFor="let movie of movieList$ | async"
                                  style="    margin-bottom: 1em;"
                                  [movie]="movie"></app-movie-poster-preview>
    </div>
    <div class="align-center">
        <button (click)="onLoadNextClick()"
                class="next-loader"
                color="primary"
                mat-raised-button
        >{{'movies.loadNext' | translate}}
        </button>
    </div>
</ng-template>

<button mat-fab class="floating-add"
        [matTooltip]="'movies.addNew' | translate"
        (click)="onAddMovieClick()">
    <mat-icon>add</mat-icon>
</button>
