<div *ngIf="authService.user$ | async as user">
<table class="ui celled selectable table hoverable">
    <thead>
    <tr>
        <th width="175px">
            <div class="ui checkbox">
                <input (click)="selectAll()" [(ngModel)]="selectedAll" type="checkbox">
                <label></label>
            </div>
            <button [disabled]="!isAnySelected"
                    [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu"
                    mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="removeSelected()" mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Zmazať</span>
                </button>
            </mat-menu>
        </th>
        <th>Meno</th>
        <th>Prezivka</th>
        <th>Dátum narodenia</th>
        <th>Účty</th>
        <th width="110px"></th>
    </tr>
    </thead>
    <tbody *ngIf="paginator">
    <tr *ngFor="let person of paginator.getList(), let idx = index">
        <app-person-list-row (onRemove)="paginator.remove($event)"
                             [index]="idx"
                             [person]="person"
                             [user]="user"
                             style="display: contents"></app-person-list-row>
    </tr>
    </tbody>
</table>
<div style="padding: 10px;">
    <app-paginator [paginator]="paginator"></app-paginator>
</div>
<div style="padding: 10px;">
    <button (click)="createNew()"
            *ngIf="authService.checkAuthorization(user, [Roles.ROLE_UPDATE_PERSONS])" class="ui button">
        Vytvoriť nový
    </button>
</div>
</div>
