<form [formGroup]="movieForm">


    <mat-card *ngIf="selectedMovie && authService.user$ | async as user; else loading"  class="root-card">
        <mat-card-title>Movie detail</mat-card-title>

        <mat-card-content class="flex-row">
            <app-movie-search (movieSearched)="setMovie($event)" *ngIf="isNew" class="full-width"></app-movie-search>
            <mat-accordion *ngIf="authService.checkAuthorization(user, Roles.ROLE_ADMIN_MOVIES)"
                           class="full-width">
                <mat-expansion-panel class="mat-elevation-z2">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Admin section
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-movie-detail-admin-view [movieForm]="movieForm">
                    </app-movie-detail-admin-view>
                </mat-expansion-panel>
            </mat-accordion>
            <div class="flex-row" style="flex-grow: 2; max-width: 100%;">
                <mat-card style="flex-grow: 1">
                    <mat-card-subtitle>Osobné info</mat-card-subtitle>
                    <mat-card-content>
                        <mat-checkbox formControlName="saw">Videné</mat-checkbox>
                        <br>
                        <mat-checkbox formControlName="wantSee">Chcem vidieť</mat-checkbox>
                        <br>
                        <mat-form-field *ngIf="movieForm.value.csfdId || !disabled"
                                        class="full-width">
                            <input #csfdId
                                   label="Movie csfdId"
                                   formControlName="csfdId"
                                   matInput
                                   placeholder="CSFD">
                            <mat-icon (click)="movieService.openMovieExternal('csfd', csfdId.value)"
                                      *ngIf="csfdId.value"
                                      matSuffix
                                      svgIcon="csfd">link
                            </mat-icon>
                        </mat-form-field>
                        <br>
                        <mat-form-field *ngIf="movieForm.value.imdbId || !disabled"
                                        class="full-width">
                            <input #imdbId
                                   label="Movie imdbId"
                                   formControlName="imdbId"
                                   matInput
                                   placeholder="IMDB">
                            <mat-icon (click)="movieService.openMovieExternal('imdb', imdbId.value)"
                                      *ngIf="imdbId.value"
                                      matSuffix
                                      svgIcon="imdb">
                            </mat-icon>
                        </mat-form-field>
                        <br>
                        <mat-form-field *ngIf="movieForm.value.movieDbId || !disabled"
                                        class="full-width">
                            <input #movieDbId
                                   label="Movie movieDbId"
                                   formControlName="movieDbId"
                                   matInput
                                   placeholder="MovieDB">
                            <mat-icon
                                (click)="movieService.openMovieExternal('movieDb', movieDbId.value, selectedMovie.type)"
                                *ngIf="movieDbId.value"
                                matSuffix
                                svgIcon="movieDb">link
                            </mat-icon>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
                <app-movie-detail-basic-info (onYearChange)="movieForm.patchValue({year: $event}, {emitEvent: false})"
                                             [movieForm]="movieForm"
                                             style="flex-grow: 3;flex-basis: 200px; max-width: 100%;display: flex">
                </app-movie-detail-basic-info>
                <mat-card style="flex-grow: 3">
                    <mat-card-content *ngIf="!disabled" class="full-width">
                        <mat-form-field class="full-width">
                            <mat-label>Obsah</mat-label>
                            <textarea cdkAutosizeMaxRows="10"
                                      label="Movie content"
                                      cdkAutosizeMinRows="3"
                                      cdkTextareaAutosize
                                      formControlName="content"
                                      matInput></textarea>
                        </mat-form-field>
                    </mat-card-content>
                    <ng-container *ngIf="disabled">
                        <mat-card-subtitle>Obsah</mat-card-subtitle>
                        <mat-card-content [innerHTML]="movieForm.value.content"></mat-card-content>
                    </ng-container>
                </mat-card>
            </div>
            <mat-card style="flex-grow: 1; overflow-y: auto">
                <mat-list class="full-width">
                    <h3 mat-subheader>Directors</h3>
                    <app-maker-preview-row *ngFor="let maker of selectedMovie.directors" [maker]="maker"></app-maker-preview-row>
                    <mat-divider></mat-divider>
                    <h3 mat-subheader>Makers</h3>
                    <app-maker-preview-row *ngFor="let maker of selectedMovie.makers" [maker]="maker"></app-maker-preview-row>
                </mat-list>
            </mat-card>
        </mat-card-content>

        <mat-card-actions>
            <button (click)="save()"
                    *ngIf="!disabled"
                    [disabled]="movieForm.invalid"
                    color="primary"
                    mat-raised-button>Uložiť
            </button>
            <button (click)="back()"
                    *ngIf="!disabled" mat-raised-button>Naspäť
            </button>
            <button (click)="edit()"
                    *ngIf="disabled && authService.checkAuthorization(user, Roles.ROLE_UPDATE_MOVIES)"
                    color="primary"
                    mat-raised-button>Upraviť
            </button>
        </mat-card-actions>
    </mat-card>
    <ng-template #loading>
        <div style="display: flex; justify-content: center;">
            <mat-spinner *ngIf="loading"></mat-spinner>
        </div>
    </ng-template>
</form>


