<form [formGroup]="detailForm">


    <mat-card *ngIf="selectedDetail && authService.user$ | async as user; else loading" class="root-card">
        <mat-card-title>Movie detail</mat-card-title>

        <mat-card-content class="flex-row">
            <app-movie-search (movieSearched)="setDetail($event)" *ngIf="isNew$ | async" class="full-width"></app-movie-search>
            <mat-accordion *ngIf="authService.checkAuthorization(user, Roles.ROLE_ADMIN_MOVIES)"
                           class="full-width">
                <mat-expansion-panel class="mat-elevation-z2">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{'movies.adminSection.title' | translate}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-movie-detail-admin-view [movieForm]="detailForm">
                    </app-movie-detail-admin-view>
                </mat-expansion-panel>
            </mat-accordion>
            <div class="flex-row" style="flex-grow: 2; max-width: 100%;">
                <mat-card style="flex-grow: 1">
                    <mat-card-subtitle>{{'movies.personalInfo.title' | translate}}</mat-card-subtitle>
                    <mat-card-content>
                        <mat-checkbox formControlName="saw">{{'movies.personalInfo.saw' | translate}}</mat-checkbox>
                        <br>
                        <mat-checkbox formControlName="wantSee">{{'movies.personalInfo.wantSee' | translate}}</mat-checkbox>
                        <br>
                        <mat-form-field *ngIf="detailForm.value.csfdId || !disabled"
                                        class="full-width">
                            <input #csfdId
                                   label="Movie csfdId"
                                   formControlName="csfdId"
                                   matInput
                                   placeholder="CSFD">
                            <mat-icon (click)="movieService.openMovieExternal(MovieSource.csfd, csfdId.value)"
                                      *ngIf="csfdId.value"
                                      matSuffix
                                      svgIcon="csfd"
                            ></mat-icon>
                        </mat-form-field>
                        <br>
                        <mat-form-field *ngIf="detailForm.value.imdbId || !disabled"
                                        class="full-width">
                            <input #imdbId
                                   label="Movie imdbId"
                                   formControlName="imdbId"
                                   matInput
                                   placeholder="IMDB">
                            <mat-icon (click)="movieService.openMovieExternal(MovieSource.imdb, imdbId.value)"
                                      *ngIf="imdbId.value"
                                      matSuffix
                                      svgIcon="imdb">
                            </mat-icon>
                        </mat-form-field>
                        <br>
                        <mat-form-field *ngIf="detailForm.value.movieDbId || !disabled"
                                        class="full-width">
                            <input #movieDbId
                                   label="Movie movieDbId"
                                   formControlName="movieDbId"
                                   matInput
                                   placeholder="MovieDB">
                            <mat-icon
                                (click)="movieService.openMovieExternal(MovieSource.movieDb, movieDbId.value, selectedDetail.type)"
                                *ngIf="movieDbId.value"
                                matSuffix
                                svgIcon="movieDb">link
                            </mat-icon>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
                <app-movie-detail-basic-info (onYearChange)="detailForm.patchValue({year: $event}, {emitEvent: false})"
                                             [movieForm]="detailForm"
                                             style="flex-grow: 3;flex-basis: 200px; max-width: 100%;display: flex">
                </app-movie-detail-basic-info>
                <mat-card style="flex-grow: 3">
                    <mat-card-content *ngIf="!disabled" class="full-width">
                        <mat-form-field class="full-width">
                            <mat-label>{{'movies.detail.pilot' | translate}}</mat-label>
                            <textarea cdkAutosizeMaxRows="10"
                                      label="Movie content"
                                      cdkAutosizeMinRows="3"
                                      cdkTextareaAutosize
                                      formControlName="content"
                                      matInput></textarea>
                        </mat-form-field>
                    </mat-card-content>
                    <ng-container *ngIf="disabled">
                        <mat-card-subtitle>{{'movies.detail.pilot' | translate}}</mat-card-subtitle>
                        <mat-card-content [innerHTML]="detailForm.value.content"></mat-card-content>
                    </ng-container>
                </mat-card>
            </div>
            <mat-card style="flex-grow: 1; overflow-y: auto">
                <mat-list class="full-width">
                    <h3 mat-subheader>{{'movies.detail.directors' | translate}}</h3>
                    <app-maker-preview-row *ngFor="let maker of selectedDetail.directors"
                                           [maker]="maker"></app-maker-preview-row>
                    <mat-divider></mat-divider>
                    <h3 mat-subheader>{{'movies.detail.makers' | translate}}</h3>
                    <app-maker-preview-row *ngFor="let maker of selectedDetail.makers"
                                           [maker]="maker"></app-maker-preview-row>
                </mat-list>
            </mat-card>
        </mat-card-content>

        <mat-card-actions>
            <button (click)="save()"
                    *ngIf="!disabled"
                    [disabled]="detailForm.invalid"
                    color="primary"
                    mat-raised-button>{{'movies.detail.save' | translate}}
            </button>
            <button (click)="back()" mat-raised-button>{{'movies.detail.back' | translate}}
            </button>
            <button (click)="edit()"
                    *ngIf="disabled && authService.checkAuthorization(user, Roles.ROLE_UPDATE_MOVIES)"
                    color="primary"
                    mat-raised-button>{{'movies.detail.update' | translate}}
            </button>
        </mat-card-actions>
    </mat-card>
    <ng-template #loading>
        <div style="display: flex; justify-content: center;">
            <mat-spinner *ngIf="loading$ | async"></mat-spinner>
        </div>
    </ng-template>
</form>
