
<app-abstract-table [data]="movies$ | async"
                    [tableConfig]="userMoviesConfig"
                    [templates]="{link: cellLink, userRating: cellRating}"
                    class="user-movies-wrapper"></app-abstract-table>
<mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>
<button (click)="loadMore()" [disabled]="loading$ | async" color="primary" mat-raised-button>Načítať ďalšie</button>


<ng-template #cellLink let-row="row">
    <button aria-label="Example icon-button with a heart icon"
            [externalLink]="'https://www.csfd.cz' + row.link"
            class="detail"
            mat-icon-button>
        <mat-icon style="color: #B01" svgIcon="csfd"></mat-icon>
    </button>
    <button *ngIf="row.id"
            mat-icon-button
            color="primary"
            [routerLink]="'/movies/' + row.id"
            [matTooltip]="'movies.openDetail' | translate"
    >
        <mat-icon>chevron_right</mat-icon>
    </button>
</ng-template>
<ng-template #cellRating let-row="row">
    <mat-icon *ngFor="let rating of [0, 1, 2, 3, 4]; let idx=index "
              [class.active]="idx < (row.ratings?.userRating || 0) / 20"
    >star
    </mat-icon>
</ng-template>
