<div style="padding: 20px 200px;">
    <app-movie-search *ngIf="isNew"></app-movie-search>
    <form *ngIf="selectedMovie" class="ui form">
        <div class="ui grid" style="display: table; width: 100%;">
            <div class="twelve wide column middle aligned content" style="display: table-cell">
                <div>
                    <h3><label>Osobné info</label></h3>
                    <div class="ui grid">
                        <div class="two wide column middle aligned content">
                            <div class="ui checkbox">
                                <label for="sawInput">Videné</label>
                                <input [(ngModel)]="selectedMovie.saw"
                                       [disabled]="disabled"
                                       class="ui checkbox saw"
                                       id="sawInput"
                                       name="saw"
                                       type="checkbox">
                            </div>
                        </div>
                        <div class="two wide column middle aligned content">
                            <div class="ui checkbox">
                                <label for="wantSeeInput">Chcem vidieť</label>
                                <input [(ngModel)]="selectedMovie.want_see"
                                       [disabled]="disabled"
                                       class="ui checkbox want_see"
                                       id="wantSeeInput"
                                       name="wantSee"
                                       type="checkbox">
                            </div>
                        </div>
                        <div class="five wide stackable column middle aligned content">
                            <button [appExternalMovie]="{type: 'csfd', id: selectedMovie.csfd_id}"
                                    class="ui blue tiny basic button">
                                <!--<i class="icon user"></i>-->
                                CSFD
                            </button>
                            <button [appExternalMovie]="{type: 'imdb', id: selectedMovie.imdb_id}"
                                    class="ui blue tiny basic button">
                                <!--<i class="icon user"></i>-->
                                IMDB
                            </button>
                            <button [appExternalMovie]="{type: 'movieDb', id: selectedMovie.moviedb_id}"
                                    class="ui blue tiny basic button">
                                <!--<i class="icon user"></i>-->
                                MovieDB
                            </button>
                        </div>
                        <div class="seven wide column middle aligned content">
                            <label for="classificationInput">Kategória</label>
                            <input [(ngModel)]="selectedMovie.classification"
                                   [disabled]="disabled"
                                   id="classificationInput"
                                   name="classification">
                        </div>
                    </div>
                    <div class="ui grid">
                    </div>
                </div>
                <div>
                    <h3><label>Základné info</label></h3>
                    <div class="ui grid">
                        <div class="seven wide column">
                            <label for="titleInput">Názov</label>
                            <input [(ngModel)]="selectedMovie.title"
                                   [disabled]="disabled"
                                   id="titleInput"
                                   name="title">
                        </div>
                        <div class="seven wide column">
                            <label for="titleSkInput">SK Názov</label>
                            <input [(ngModel)]="selectedMovie.title_sk"
                                   [disabled]="disabled"
                                   id="titleSkInput"
                                   name="titleSk">
                        </div>
                        <div class="two wide column">
                            <label for="yearInput">Rok výroby</label>
                            <input [(ngModel)]="selectedMovie.year"
                                   [disabled]="disabled"
                                   id="yearInput"
                                   name="nick"
                                   type="number">
                        </div>
                    </div>
                    <div class="ui grid">
                        <div class="six wide column">
                            <label for="countriesInput">Krajna pôvodu</label>
                            <select [(ngModel)]="selectedMovie.countries"
                                    [ngClass]="{'disabled': disabled}"
                                    class="ui fluid search dropdown countries"
                                    id="countriesInput"
                                    multiple=""
                                    name="countries">
                                <option value="">Krajna pôvodu</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option *ngFor="let country of countries" value="{{country}}">{{country}}</option>
                            </select>
                        </div>
                        <div class="seven wide column">
                            <label for="genresInput">Žáner</label>
                            <select [ngClass]="{'disabled': disabled}"
                                    class="ui fluid search dropdown genres"
                                    id="genresInput"
                                    multiple=""
                                    name="genres">
                                <option value="">Žáner</option>
                                <option *ngFor="let genre of genres" value="{{genre}}">{{genre}}</option>
                            </select>
                        </div>
                        <div class="three wide column">
                            <label for="durationInput">Dľžka</label>
                            <div class="ui right labeled input">
                                <input [(ngModel)]="selectedMovie.duration"
                                       [disabled]="disabled"
                                       id="durationInput"
                                       name="duration"
                                       style="width: 66px">
                                <div class="ui basic label">
                                    min
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column middle aligned content" style="display: table-cell; text-align: center">
                <div class="ui  segment">
                    <img [src]="selectedMovie.avatar" style="width: 100%;">
                </div>
            </div>
        </div>

        <div>
            <div class="ui grid">
                <div class="six wide column">
                    <h3><label>Obsah</label></h3>
                    {{selectedMovie.content}}
                </div>
                <div class="ten wide column">
                    <h3><label>Herci</label></h3>
                    <app-movie-makers [disabled]="disabled" [makers]="selectedMovie.makers"></app-movie-makers>
                </div>
            </div>
        </div>
        <div (click)="save()" *ngIf="!disabled" class="ui button">Uložiť</div>
        <div (click)="back()" *ngIf="!disabled" class="ui button">Naspäť</div>
        <div (click)="edit()" *ngIf="disabled" class="ui button">Upraviť</div>
    </form>
</div>
