<ng-container *ngIf="holder">
    <button *ngIf="holder.csfdId"
            (click)="onLinkClick(MovieSource.csfd, holder.csfdId)"
            aria-label="Csfd movie page"
            matTooltip="CSFD page"
            class="detail"
            mat-icon-button>
        <mat-icon svgIcon="csfd"></mat-icon>
    </button>
    <button *ngIf="holder.imdbId"
            (click)="onLinkClick(MovieSource.imdb, holder.imdbId)"
            aria-label="Imdb movie page"
            matTooltip="IMDB page"
            class="detail"
            mat-icon-button>
        <mat-icon svgIcon="imdb"></mat-icon>
    </button>
    <button *ngIf="holder.movieDbId"
            (click)="onLinkClick(MovieSource.movieDb, holder.movieDbId, holder.type)"
            [style.filter]="inverted ?  'invert(1)' : 'none'"
            aria-label="MovieDb movie page"
            matTooltip="MovieDB page"
            class="detail"
            mat-icon-button>
        <mat-icon svgIcon="movieDb"></mat-icon>
    </button>
</ng-container>
