<!--
    input: title, input: id - iba jedno môže byť napísané
    buttons: searchCsfd,searchImdb, searchMovieDb
-->
<form [formGroup]="movieSearchForm">
    <mat-card>
        <mat-card-subtitle>Search movie</mat-card-subtitle>
        <mat-card-content>
            <mat-form-field>
                <input formControlName="title" label="Movie title" matInput placeholder="Názov filmu">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="id" label="Movie id" matInput placeholder="ID Filmu">
            </mat-form-field>

            <mat-radio-group formControlName="type">
                <mat-radio-button aria-label="csdf" [value]="MovieSource.csfd">
                    CSFD
                </mat-radio-button>
                <mat-radio-button aria-label="imdb" [value]="MovieSource.imdb">
                    IMDB
                </mat-radio-button>
                <mat-radio-button aria-label="movieDb" [value]="MovieSource.movieDb">
                    MovieDB
                </mat-radio-button>
            </mat-radio-group>

            <mat-list>
                <mat-list-item *ngFor="let result of movieList$ | async">
                    <img *ngIf="result.avatar?.length" [src]="result.avatar" alt="Avatar" matListAvatar>
                    <h4 mat-line>{{result.title || result.titleSk}}</h4>
                    <p mat-line>
                        {{result.year}}
                        <ng-container *ngIf="result.year && result.genres?.length"> - </ng-container>
                        {{result.genres?.join("/")}}
                    </p>
                    <p mat-line> {{result.countries?.join("/")}} </p>
                    <button (click)="onSelectExternalMovieClick(result)"
                            matTooltip="Select movie"
                            mat-icon-button>
                        <mat-icon>touch_app</mat-icon>
                    </button>
                    <button (click)="onExternalDetailClick(result)"
                            matTooltip="Open in external source"
                            mat-icon-button>
                        <mat-icon>info</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="searchMovie()" [disabled]="loading || movieSearchForm.invalid" color="primary"
                    mat-raised-button>
                Hladať
            </button>
        </mat-card-actions>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    </mat-card>
</form>
