<h2 *ngIf="restaurant" mat-subheader
    style="position: sticky;top: 0;background: #fafafa;z-index:1"
>
    <span style="font-size: 20px; color: black; font-weight: bolder">{{restaurant.name }}&nbsp;&nbsp;</span>
    <small>- {{restaurantHttpService.getDistance(restaurant.address)}} {{'foods.fromYou' | translate}}</small>
    <mat-icon (click)="showMap(restaurant)"
              *ngIf="restaurant.address"
              matTooltip="{{'shared.showMap' | translate}}"
    >map
    </mat-icon>

    <mat-icon (click)="restaurantHttpService.openHomepage(restaurant)"
              *ngIf="restaurant.homepage"
              matTooltip="{{'foods.showHomePage' | translate}}"
    >home
    </mat-icon>
</h2>
<mat-list-item *ngIf="dailyMenu === null">
    <small mat-line>{{'foods.cannotGetDailyMenu' | translate}}</small>
</mat-list-item>
<ng-container *ngIf="dailyMenu">
    <mat-list-item *ngIf="!dailyMenu.dishes.length">
        <small mat-line>{{'foods.restaurantHasNoPublicMenu' | translate}}</small>
    </mat-list-item>
    <ng-container *ngFor="let dish of dailyMenu.dishes | searchFoodPipe: searchedFood">
        <mat-list-item *ngIf="dish; else: noFilterResults" [class.hoverable]="dish && dish.type !== 'special'">
            <app-icon-list *ngIf="dish.type !== 'special'"
                           [keys]="[dish.type]"
                           defaultIcon="restaurant"
                           mat-list-icon
                           type="food"
            ></app-icon-list>
            <mat-icon (click)="restaurantHttpService.openFoodImages(dish.name)"
                      *ngIf="dish.type !== 'special'"
                      mat-list-icon
                      style="order:2"
            >image
            </mat-icon>

            <h4 *ngIf="dish.type !== 'special'; else showTitle"
                mat-line [innerHTML]="dish.name"
            ></h4>
            <ng-template #showTitle>
                <h4 mat-line><strong>{{dish.name}}</strong></h4>
            </ng-template>
            <span *ngIf="dish.price" class="additional-info">{{dish.price}}</span>
            <span *ngIf="dish.weight" class="additional-info">{{dish.weight}}</span>
        </mat-list-item>
        <ng-template #noFilterResults>
            <mat-list-item *ngIf="dailyMenu.dishes.length">
                <h4 mat-line>{{'shared.noFilterResults' | translate}}</h4>
            </mat-list-item>
        </ng-template>
    </ng-container>
</ng-container>

<mat-list-item *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-list-item>
