<h2 *ngIf="restaurant" mat-subheader
    style="position: sticky;top: 0;background: #fafafa;z-index:1"
>
    <span [class.searched]="restaurantMatch">{{restaurant.name}}</span>
    <small
        style="margin-left: 16px"> {{restaurantHttpService.getDistance(restaurant.address)}} {{'foods.fromYou' | translate}}</small>
    <button *ngIf="restaurant.address"
            (click)="showMap(restaurant)"
            mat-icon-button
            color="primary"
            matTooltip="{{'shared.showMap' | translate}}">
        <mat-icon>place</mat-icon>
    </button>

    <button *ngIf="restaurant.homepage"
            (click)="restaurantHttpService.openHomepage(restaurant)"
            mat-icon-button
            color="primary"
            matTooltip="{{'foods.showHomePage' | translate}}">
        <mat-icon>home</mat-icon>
    </button>
</h2>

<mat-list-item *ngIf="dailyMenu === null">
    <small class="centered-vertically" mat-line style="display: flex; flex-wrap: wrap">
        <span style="padding: 0 16px">{{'foods.cannotGetDailyMenu' | translate}}.</span>
        <button *ngIf="restaurant.homepage"
                mat-button
                (click)="restaurantHttpService.openHomepage(restaurant)"
                color="primary"
        >{{'foods.tryHomepage' | translate}}</button>
    </small>
</mat-list-item>

<ng-container *ngIf="dailyMenu">
    <mat-list-item *ngIf="!dailyMenu.dishes.length">
        <small class="centered-vertically" mat-line style="display: flex; flex-wrap: wrap">
            <span style="padding: 0 16px">{{'foods.restaurantHasNoPublicMenu' | translate}}.</span>
            <button *ngIf="restaurant.homepage"
                    mat-button
                    (click)="restaurantHttpService.openHomepage(restaurant)"
                    color="primary"
            >{{'foods.tryHomepage' | translate}}</button>
        </small>.
    </mat-list-item>
    <ng-container *ngFor="let dish of (restaurantMatch ? dailyMenu.dishes : (dailyMenu.dishes | searchFoodPipe: localSearchedMath))">
        <mat-list-item *ngIf="dish; else: noFilterResults" [class.hoverable]="dish && dish.type !== 'special'">
            <app-icon-list *ngIf="dish.type !== 'special'"
                           [keys]="[dish.type]"
                           defaultIcon="restaurant"
                           mat-list-icon
                           type="food"
            ></app-icon-list>
            <button *ngIf="dish.type !== 'special'"
                    (click)="restaurantHttpService.openFoodImages(dish.name)"
                    style="order:2"
                    mat-icon-button
                    color="primary"
                    matTooltip="{{'foods.showDishImages' | translate}}">
                <mat-icon >image</mat-icon>
            </button>

            <h4 *ngIf="dish.type !== 'special'; else showTitle"
                mat-line [innerHTML]="(!restaurantMatch && localSearchedMath) && dish.nameHTML || dish.name"
            ></h4>
            <ng-template #showTitle>
                <h4 mat-line><strong>{{dish.name}}</strong></h4>
            </ng-template>
            <span *ngIf="dish.price" class="additional-info">{{dish.price}}</span>
            <span *ngIf="dish.weight" class="additional-info">{{dish.weight}}</span>
        </mat-list-item>
        <ng-template #noFilterResults>
            <mat-list-item *ngIf="dailyMenu.dishes.length">
                <h4 mat-line>{{'shared.noFilterResults' | translate}}</h4>
            </mat-list-item>
        </ng-template>
    </ng-container>
</ng-container>

<mat-list-item *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-list-item>
