<ng-container *ngIf="dailyMenu">
    <h2 *ngIf="restaurant" mat-subheader
        style="position: sticky;top: 0;background: #fafafa;z-index:1">
        {{restaurant.name}}
        <small> - {{restaurantHttpService.getDistance(restaurant.address)}} od vás</small>
        <mat-icon (click)="showMap(restaurant)"
                  *ngIf="restaurant.address"
                  title="showMap">map
        </mat-icon>

        <mat-icon (click)="restaurantHttpService.openHomepage(restaurant)"
                  *ngIf="restaurant.homepage"
                  title="showHomepage">
            home
        </mat-icon>
    </h2>
    <mat-list-item *ngIf="!dailyMenu.dishes.length">
        <h4 mat-line>Reštaurácia nemá zverejnené menu</h4>
    </mat-list-item>
    <mat-list-item *ngFor="let dish of dailyMenu.dishes" [class.hoverable]="dish.type !== 'special'">
        <mat-icon *ngIf="dish.type === 'food'"
                  mat-list-icon>{{getIconByType(dish.type)}}</mat-icon>
        <mat-icon (click)="restaurantHttpService.openFoodImages(dish.name)"
                  *ngIf="dish.type !== 'special'"
                  mat-list-icon
                  style="order:2">image
        </mat-icon>

        <h4 *ngIf="dish.type !== 'special'; else showTitle"
            mat-line>{{dish.name}}</h4>
        <ng-template #showTitle>
            <h4 mat-line><strong>{{dish.name}}</strong></h4>
        </ng-template>
        <span *ngIf="dish.price" style="order: 1; white-space: nowrap; margin: 0 1em;">{{dish.price}}</span>
        <span *ngIf="dish.weight" style="order: 1; white-space: nowrap; margin: 0 1em;">{{dish.weight}}</span>
    </mat-list-item>
</ng-container>
