:host {
    column-count: 5;
    @media only screen and (max-width: 1200px) {
        column-count: 4;
    }
    @media only screen and (max-width: 1024px) {
        column-count: 3;
    }
    @media only screen and (max-width: 726px) {
        column-count: 2;
    }
    @media only screen and (max-width: 480px) {
        column-count: 1;
    }
    column-gap: 0;

    padding: 0 0.5rem;
}


.img-wrapper {
    padding: 0.4rem;
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 5px rgb(0 0 0 / 20%);
    margin: 0.5rem;
    border-radius: 5px;
    overflow: hidden;
}

img {
    width: 100%;
    background: #06004e;
    border-radius: 5px;
    border: 1px solid black;
}
