<mat-form-field class="full-width">
    <mat-chip-list #chipList [disabled]="itemCtrl.disabled">
        <mat-chip
            *ngFor="let item of items, let index = index"
            (removed)="removeByIndex(index)"
            [removable]="itemCtrl.enabled"
        >
            {{item}}
            <mat-icon *ngIf="itemCtrl.enabled" matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #itemInput
               (focus)="onTouch(itemInput.value)"
               (matChipInputTokenEnd)="add($event)"
               [formControl]="itemCtrl"
               [matAutocomplete]="auto"
               [matChipInputAddOnBlur]="true"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [placeholder]="placeholder">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onItemSelect($event)">
        <mat-option *ngFor="let item of filteredItems$ | async" [value]="item">
            {{item}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
