<div *ngIf="tableConfig" class="mat-elevation-z8"
     [style.max-height]="'calc(100vh - 65px - ' + 66 + 'px)'">

    <table mat-table [dataSource]="dataSource" matSort>
        <!--First column with checkboxes-->
        <ng-container *ngIf="tableConfig.selection"
                      matColumnDef="select">
            <th *matHeaderCellDef mat-header-cell style="padding-left: 0">
                <div *ngIf="tableConfig.selection === 'multi'"
                     style="display: flex;justify-content: center;align-items: center;">
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && (isAllSelected$ | async)"
                                  [indeterminate]="selection.hasValue() && !(isAllSelected$ | async)">
                    </mat-checkbox>
                    <button *ngIf="tableConfig.selectOptions && tableConfig.selectOptions.length"
                            [disabled]="selection.isEmpty()"
                            [matMenuTriggerFor]="menu"
                            aria-label="Example icon-button with a menu"
                            mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button *ngFor="let item of tableConfig.selectOptions"
                                (click)="item.action(selection.selected)"
                                mat-menu-item>
                            <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
                            <span *ngIf="item.label">{{item.label}}</span>
                        </button>
                    </mat-menu>
                </div>
            </th>
            <td mat-cell *matCellDef="let row" style="width: 6em; text-align: center">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!--Configuration for each column-->
        <ng-container *ngFor="let columnConfig of visibleColumns; let i=index"
                      [matColumnDef]="columnConfig.name"
                      [sticky]="i<tableConfig.stickyStart"
                      [stickyEnd]="i>tableConfig.stickyEnd">

            <!--Sort configuration-->
            <ng-container *ngIf="columnConfig.sort; then sortEnabled; else sortDisabled"></ng-container>
            <ng-template #sortEnabled>
                <th *matHeaderCellDef="let row"
                    mat-header-cell
                    [mat-sort-header]="columnConfig.name">
                    {{getLabel(columnConfig, row) | async}}
                </th>
            </ng-template>
            <ng-template #sortDisabled>
                <th *matHeaderCellDef="let row"
                    mat-header-cell>
                    {{getLabel(columnConfig, row) | async}}
                </th>
            </ng-template>

            <!--Template content-->
            <ng-container
                *ngIf="columnTemplates[columnConfig.name] || columnConfig.template || templates[columnConfig.name]; then templateContent; else noTemplateContent">

            </ng-container>
            <ng-template #templateContent>
                <td mat-cell *matCellDef="let row" [ngStyle]="{width: columnConfig.width}"
                    [style.whiteSpace]="columnConfig.nowrap ? 'nowrap' : 'normal'">
                    <ng-content
                        *ngTemplateOutlet="columnTemplates[columnConfig.name] || columnConfig.template || templates[columnConfig.name], context:{row: row, $implicit: row}"></ng-content>
                </td>
            </ng-template>
            <ng-template #noTemplateContent>
                <td mat-cell *matCellDef="let row"
                    [ngStyle]="{width: columnConfig.width}"> {{getContent(columnConfig, row)}} </td>
            </ng-template>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: !!tableConfig.stickyHeader"></tr>

        <tr *matRowDef="let row; columns: displayedColumns;" mat-row (click)="onRowClick(row)"></tr>
    </table>

    <mat-paginator *ngIf="tableConfig.paginator"
                   [length]="dataSource.data.length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>
