.footer {
    position: fixed;
    width: 100%;
    min-height: 60px;
    background-color: #e6fdfd;;
    transition: all 0.5s;
    bottom: -60px;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;

    &.is-playing {
        bottom: 0;
    }

    .controls {
    }

    .slider-container {
        flex-grow: 1;
        padding: 0 1em;
        min-width: 320px;
        display: flex;
        align-items: center;

        .slider {
            margin-right: 1em;
            flex-grow: 1;
            align-items: center;
            display: flex;

            input {
                width: 100%;
            }
        }
    }

    .title {
        padding: 0 1em;
        flex-basis: 250px;
        text-align: center;
    }
}
