

<mat-card>
    <div style="display: flex; justify-content: center;">
        <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <form *ngIf="selectedDetail" [formGroup]="detailForm" class="full-width" style="align-content: center">
        <div class="flex-row">
            <div>
                <mat-form-field class="full-width">
                    <input matInput
                           formControlName="name"
                           placeholder="Meno">
                    <mat-error *ngIf="detailForm.get('name').hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width">
                    <input matInput
                           formControlName="surName"
                           placeholder="Priezvisko">
                    <mat-error *ngIf="detailForm.get('surName').hasError('required')">
                        Surname is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width">
                    <input matInput
                           formControlName="nick"
                           placeholder="Prezívka">
                </mat-form-field>
            </div>
        </div>
        <div class="flex-row">
            <div>
                <mat-form-field class="full-width">
                    <input matInput
                           formControlName="birthday"
                           placeholder="Dátum narodenia">
                </mat-form-field>
            </div>
            <div>
                Pohlavie:
                <mat-button-toggle-group formControlName="gender"
                                         aria-label="Font Style">
                    <mat-button-toggle value="MALE">Muž</mat-button-toggle>
                    <mat-button-toggle value="FEMALE">Žena</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div class="flex-row"
             formGroupName="address">
            <div>
                <mat-form-field class="full-width">
                    <input matInput
                           type="text"
                           placeholder="Štát"
                           formControlName="country"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                            {{country}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width">
                    <input matInput
                           formControlName="city"
                           placeholder="Mesto">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width">
                    <input matInput
                           formControlName="street"
                           placeholder="Ulica">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width">
                    <input matInput
                           formControlName="streetNumber"
                           placeholder="Číslo domu">
                </mat-form-field>
            </div>
            <div>
                <button mat-icon-button matTooltip="Show address on map" (click)="showMap()">
                    <mat-icon>map</mat-icon>
                </button>
            </div>
        </div>
        <app-numbers [disabled]="detailForm.disabled"
                     [numberList]="selectedDetail.numbers"
                     [isNew]="isNew"></app-numbers>
        <app-email [disabled]="detailForm.disabled"
                   [emailList]="selectedDetail.emails"
                   [isNew]="isNew"></app-email>
    </form>
    <button (click)="save()" *ngIf="!disabled" [disabled]="detailForm.invalid" color="primary" mat-raised-button>
        Uložiť
    </button>
    <button (click)="edit()" *ngIf="disabled" [disabled]="detailForm.invalid" color="primary" mat-raised-button>
        Upraviť
    </button>
    <button (click)="back()" mat-raised-button>Naspäť</button>
</mat-card>
