<ng-template [ngIf]="person">
    <td>
        <app-person-list-row-cell-select [person]="person"></app-person-list-row-cell-select>
    </td>
    <td>
        {{(person.name || "") + " " + (person.surName || "")}}
    </td>
    <td>{{person.nick}}</td>
    <td>{{person.birthday}}</td>
    <td *ngIf="person">
        <button *ngFor="let account of person.accounts"
                [title]="getTitle(account)"
                class="ui circular {{ getIcon(account) }} icon button"
                externalLink="getLink(account)">
            <i class="{{ getIcon(account) }} icon"></i>
        </button>
    </td>
    <td>
        <button (click)="remove()"
                *ngIf="authService.checkAuthorization(user, [Roles.ROLE_UPDATE_PERSONS])"
                class="circular ui icon button hiddenable">
            <i class="icon remove"></i>
        </button>
        <button (click)="showDetail(person.id)" class="circular ui icon button hiddenable">
            <i class="icon angle right"></i>
        </button>
    </td>
</ng-template>
