$image-padding: 5px;
$image-padding-2: #{$image-padding * 2};

$info-height: 40px;
$border-radius: 5px;

.image-container {
    position: relative;

    column-count: 5;
    column-gap: 0;

    figure.image-holder {
        position: relative;
        display: inline-block;
        margin: 0;
        overflow: hidden;
        border-radius: $border-radius;
        padding: $image-padding;
        width: 100%;

        .wrapper {
            position: relative;
            overflow: hidden;
            border-radius: $border-radius;
            box-sizing: border-box;

            img {
                cursor: pointer;
                width: 100%;
                filter: grayscale(0);
                transition: filter 0.3s;
                border-radius: $border-radius;
                overflow: hidden;
            }

            .info {
                background: rgba(0, 0, 0, 0.8);
                position: absolute;
                width: 100%;
                height: 0;
                transition: height 0.3s;
                line-height: $info-height;
                border-radius: 0 0 $border-radius $border-radius;
                padding: 0 10px;
                box-sizing: border-box;
                bottom: $image-padding;
                overflow: hidden;

                .title {
                }

                .created {
                    float: right;
                    color: white;
                }
            }

            &:hover {
                .info {
                    height: $info-height;
                }

                img {
                    filter: grayscale(100%);
                }

            }
        }

    }
}
