<!--
    input: title, input: id - iba jedno môže byť napísané
    buttons: searchCsfd,searchImdb, searchMovieDb
-->
<div class="ui green segment">
    <div class="ui form">
        <div class="inline fields">
            <div class="field">
                <label>Názov filmu</label>
                <input [(ngModel)]="searchKey"
                       [disabled]="!!searchId"
                       placeholder="Názov"
                       type="text">
            </div>
            <div class="field">
                <label>ID Filmu</label>
                <input [(ngModel)]="searchId"
                       [disabled]="!!searchKey"
                       placeholder="ID"
                       type="text">
            </div>
            <label>Vyhladávať na</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input [(ngModel)]="searchOn"
                           class="hidden"
                           name="searchSource"
                           tabindex="0"
                           type="radio"
                           value="csfd">
                    <label>CSFD</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input [(ngModel)]="searchOn"
                           class="hidden"
                           name="searchSource"
                           tabindex="0"
                           type="radio"
                           value="imdb">
                    <label>IMDB</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input [(ngModel)]="searchOn"
                           class="hidden"
                           name="searchSource"
                           tabindex="0"
                           type="radio"
                           value="movieDb">
                    <label>MOVIE DB</label>
                </div>
            </div>
            <button (click)="searchMovie()"
                    class="ui button"
                    type="button">Hladať
            </button>
        </div>
    </div>
</div>
