.container {
    margin: 0 auto;
    width: 1280px;
    @media only screen and (max-width: 1280px) {
        width: 100vw;
    }

    .row {
        display: flex;
        width: 100%;
        justify-content: space-around;

        &.space-between {
            justify-content: space-between;
        }

        &.wrap {
            flex-wrap: wrap;
        }
    }

    .col {
        flex-grow: 1;
        padding: 16px;
        max-width: 100%;
    }

    .works, .education, .basic-info, .languages, .technologies {
        & > div {
            margin-top: 0.7em;
        }

        span {
            white-space: nowrap;
        }
    }
}


.languages, .technologies {
    .slider {
        margin-bottom: 0.1em;
        height: 10px;
        border-radius: 10px;
    }
}

.technologies {
    .name {
        text-overflow: ellipsis;
        max-width: 100%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
    }
}



