<!--<app-song-controller [object]="'http://www.rockyvotolato.com/mp3/01_Red_River.mp3'"></app-song-controller>-->

<div id="sideBar"></div>

<app-abstract-table [data]="songsService.getSongs()"
                    [tableConfig]="songsConfig"
                    [templates]="{preview: columnPreview, video: columnVideo}"></app-abstract-table>

<ng-template #columnPreview let-row="row">
    <button (click)="navBar.isPlaying(row)  ? navBar.pause() : navBar.play(row)"
            [disabled]="!row.preview"
            color="primary"
            mat-raised-button>{{navBar.isPlaying(row) && "Pause" || "Play"}}</button>
</ng-template>
<ng-template #columnVideo let-row="row">
    <button [disabled]="!row.preview"
            color="primary"
            mat-raised-button>Youtube
    </button>
</ng-template>
<songs-nav-bar #navBar></songs-nav-bar>
