<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Welcome to Homepage-FE!</h1>
        <span class="example-spacer"></span>
        <div *ngIf="authService.user$ | async as user; else login">
            <div *ngIf="user.displayName !== 'Anonym'; else login">
                <button [matMenuTriggerFor]="accountMenu" mat-menu-item>
                    <img [src]="user.photoURL"
                         alt="avatar"
                         class="profile-avatar"
                    >
                </button>
                <mat-menu #accountMenu="matMenu">
                    <button disabled mat-menu-item>
                        <span>Hi {{user.displayName}}</span>
                    </button>
                    <button disabled mat-menu-item>
                        <span>{{user.email}}</span>
                    </button>
                    <button (click)="authService.signOut()" mat-menu-item>
                        <mat-icon>logout</mat-icon>
                        <span>Log out</span>
                    </button>
                </mat-menu>
            </div>
        </div>

        <ng-template #login>
            <button [matMenuTriggerFor]="loginMenu" mat-icon-button>
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #loginMenu="matMenu">
                <button (click)="authService.googleSigning()" mat-menu-item>Log in with Google</button>
                <!--<button mat-menu-item (click)="authService.signOut()">Sign up</button>-->
            </mat-menu>
        </ng-template>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav
                     [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches"
                     fixedTopGap="56">
            <mat-nav-list>
                <div *ngFor="let menu of menuItems">
                    <a *ngIf="!menu.access || authService.access.includes(menu.access)"
                       mat-list-item
                       routerLink="/{{menu.link}}"
                       routerLinkActive="'active'">{{menu.label}}</a>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
            <p *ngFor="let content of fillerContent">{{content}}</p>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
