<mat-form-field class="email-list" [ngClass]="{'full-width': isNew}">
    <mat-chip-list #chipList [disabled]="disabled">
        <mat-chip (removed)="remove(i)"
                  *ngFor="let email of  emailList | activePipe: showInactive.value && !isNew; let i = index"
                  class="person-email"
                  [removable]="!disabled"
                  [selectable]="false">
            {{email.email}}
            <mat-icon *ngIf="!disabled" matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="add($event)"
               label="Email"
               [matChipInputAddOnBlur]="addOnBlur"
               [matChipInputFor]="chipList"
               [formControl]="values"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               placeholder="Emaily:">
        <mat-error *ngIf="values.hasError('email')" class="email-error-message">
            Please enter a valid email address
        </mat-error>
    </mat-chip-list>
</mat-form-field>
<mat-slide-toggle *ngIf="!isNew" class="show-all-emails" [formControl]="showInactive">Aj neaktívne</mat-slide-toggle>
