<div class="field emailComponent">
    <label>
        <h3 class="addable-title">Emails</h3>
        <button (click)="addEmail()" *ngIf="!disabled" class="circular ui icon button">
            <i class="icon plus"></i>
        </button>
    </label>
    <div *ngFor="let email of emailList; let i = index" class="inline fields">
        <div class="thirteen wide field">
            <input [(ngModel)]="emailList[i].email" [disabled]="disabled" name="email">
        </div>
        <div class="two wide field">
            <div class="ui checkbox">
                <label for="{{'emailInput' + i}}">Platný</label>
                <input [(ngModel)]="emailList[i].active" [disabled]="disabled" class="hidden" id="{{'emailInput' + i}}"
                       tabindex="0" type="checkbox">
            </div>
        </div>
        <div *ngIf="!disabled" class="one wide field">
            <button (click)="removeEmail(i)" class="circular ui icon button">
                <i class="icon remove"></i>
            </button>
        </div>
    </div>
</div>
