<mat-form-field class="email-list">
    <mat-chip-list #chipList [disabled]="disabled">
        <mat-chip (removed)="remove(i)"
                  *ngFor="let email of  emailList | activePipe: showInactive.value; let i = index"
                  [removable]="!disabled"
                  [selectable]="false">
            {{email.email}}
            <mat-icon *ngIf="!disabled" matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="add($event)"
               [matChipInputAddOnBlur]="addOnBlur"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               placeholder="Emaily:">
    </mat-chip-list>
</mat-form-field>
<mat-slide-toggle class="show-all-emails" [formControl]="showInactive">Aj neaktívne</mat-slide-toggle>
