<h3>{{'projects.title' | translate}}</h3>
<div class="table-wrapper">
    <table>
        <tr>
            <th>{{'projects.name' | translate}}</th>
            <th>{{'projects.team' | translate}}</th>
            <th>{{'projects.technologies' | translate}}</th>
            <th>{{'projects.demo' | translate}}</th>
            <th>{{'projects.docs' | translate}}</th>
            <th>{{'projects.sources' | translate}}</th>
        </tr>
        <tr *ngFor="let project of projects$ | async">
            <td>{{project.name | localTitle : translateService.currentLang}}</td>
            <td>{{'projects.teams.' + project.team | translate}}</td>
            <td>
                <app-icon-list [keys]="project.technologies" type="technology"></app-icon-list>
            </td>
            <td><a *ngIf="project.demo"
                   [href]="project.demo"
                   target="_blank"
                   style="text-decoration: none; color: black">
                {{project.demo | parseUrl:'host'}}</a></td>
            <td><a *ngIf="project.documentation"
                   [href]="project.documentation"
                   target="_blank"
                   style="text-decoration: none; color: black"
            >{{project.documentation | parseUrl:'host'}}</a></td>
            <td><a *ngIf="project.sources"
                   [href]="project.sources"
                   target="_blank"
                   style="text-decoration: none; color: black"
            >{{project.sources | parseUrl:'host'}}</a>
            </td>
        </tr>
    </table>
</div>
