<div *ngIf="authService.user$ | async as user; else login">
    <div *ngIf="user.displayName !== 'Anonym'; else login">
        <button [matMenuTriggerFor]="accountMenu" mat-menu-item>
            <img [src]="user.photoURL"
                 alt="avatar"
                 class="profile-avatar"
            >
        </button>
        <mat-menu #accountMenu="matMenu">
            <button disabled mat-menu-item>
                <span>{{"common.hi" | translate}} {{user.displayName}}</span>
            </button>
            <button disabled mat-menu-item>
                <span>{{user.email}}</span>
            </button>
            <button (click)="authService.signOut()" mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>{{"shared.login.logout" | translate}}</span>
            </button>
        </mat-menu>
    </div>
</div>

<ng-template #login>
    <button [matMenuTriggerFor]="loginMenu" mat-icon-button title="Profile button">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #loginMenu="matMenu">
        <button (click)="authService.googleSigning()" mat-menu-item>{{"shared.login.with.google" | translate}}</button>
        <!--<button mat-menu-item (click)="authService.signOut()">Sign up</button>-->
    </mat-menu>
</ng-template>
