<form [formGroup]="feedbackForm">
    <mat-form-field class="full-width">
        <input formControlName="screen" matInput placeholder="Screen">
    </mat-form-field>
    <mat-form-field class="full-width">
        <textarea formControlName="message" matInput placeholder="Message" rows="5"></textarea>
    </mat-form-field>
    <button (click)="submit()" color="primary" mat-raised-button>Submit</button>
    <button (click)="bottomSheetRef.dismiss()" mat-raised-button type="button">Cancel</button>
</form>
