<div style="padding: 2rem">
    <div style="text-align:center">
        <h1>
            {{'welcome' | translate}}!
        </h1>
    </div>
    <h2>{{"availableServices" | translate}}: </h2>

    <ul>
        <li>
            <h2><a routerLink="/about" >{{"contactToAuthor" | translate}}</a>
            </h2>
        </li>
        <li>
            <h2><a routerLink="/foods" >{{ "dailyMenus"| translate}}</a></h2>
        </li>
        <li>
            <h2><a routerLink="/analyzer" >{{ "fileAnalyzer"| translate}}</a></h2>
        </li>
        <li>
            <h2><a routerLink="/projects">{{ "inProgressProjects"| translate}}</a></h2>
        </li>
    </ul>
</div>
