<div style="padding: 2rem">
    <div style="text-align:center">
        <h1>
            {{'welcome' | translate}}!
        </h1>
    </div>
    <h2>{{"availableServices" | translate}}: </h2>

    <ul>
        <li>
            <h2><a (click)="router.navigate(['about'])" href="javascript:void(0)">{{"contactToAuthor" | translate}}</a>
            </h2>
        </li>
        <li>
            <h2><a (click)="router.navigate(['foods'])" href="javascript:void(0)">{{ "dailyMenus"| translate}}</a></h2>
        </li>
        <li>
            <h2><a (click)="router.navigate(['projects'])"
                   href="javascript:void(0)"
            >{{ "inProgressProjects"| translate}}</a></h2>
        </li>
    </ul>
</div>
