<div style="padding: 2rem">
    <div style="text-align:center">
        <h1>
            {{'welcome' | translate}}!
        </h1>
    </div>
    <h2>{{"availableServices" | translate}}: </h2>

    <ul>
        <li>
            <h2><a (click)="router.navigate(['about'])" href="/#/about">{{"contactToAuthor" | translate}}</a>
            </h2>
        </li>
        <li>
            <h2><a (click)="router.navigate(['foods'])" href="/#/foods">{{ "dailyMenus"| translate}}</a></h2>
        </li>
        <li>
            <h2><a (click)="router.navigate(['analyzer'])" href="/#/analyzer">{{ "fileAnalyzer"| translate}}</a></h2>
        </li>
        <li>
            <h2><a (click)="router.navigate(['projects'])"
                   href="/#/projects"
            >{{ "inProgressProjects"| translate}}</a></h2>
        </li>
    </ul>
</div>
