<div class="wrapper">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <mat-form-field style="height: 100%">
                <input #searchFood matInput placeholder="{{'common.search' | translate}}">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <span class="divider"></span>

            <span *ngIf="!(authService.user$ | async)" class="one-row-warning">
                {{"foods.forSpecificRestaurantsClickOn" | translate}}  <mat-icon>account_circle</mat-icon>
            </span>

            <span class="divider"></span>
            <button (click)="snav.toggle()" mat-icon-button matTooltip="{{'foods.restaurantSelection' | translate}}">
                <mat-icon>menu</mat-icon>
            </button>
            <button (click)="openFeedback()" mat-icon-button matTooltip="{{'shared.feedbackPanel' | translate}}">
                <mat-icon>feedback</mat-icon>
            </button>
            <app-login-screen *ngIf="standAlone"></app-login-screen>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav
                     mode="over"
                     fixedTopGap="56"
                     position="end"
        >
            <app-restaurant-selector></app-restaurant-selector>
        </mat-sidenav>

        <mat-sidenav-content *ngIf="authService.user$" [style.min-height]="minHeight" style="display: flex; justify-content: center">
            <mat-list style="width: fit-content; max-width: 100%">
                <ng-container *ngFor="let selectedRestaurant of selectedRestaurants; let i=index">
                    <mat-divider *ngIf="i > 0"></mat-divider>
                    <app-restaurant-row [searchedFood]="searchFood.value"
                                        [restaurantKey]="selectedRestaurant"
                    ></app-restaurant-row>
                </ng-container>
            </mat-list>
            <span *ngIf="selectedRestaurants && selectedRestaurants.length === 0" class="one-row-warning">
                {{"foods.forRestaurantSelectionClickOn" | translate}} <mat-icon>menu</mat-icon>
            </span>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
