
<div class="wrapper">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <mat-form-field style="height: 100%">
                <input matInput placeholder="Search">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <span class="divider"></span>
            <button (click)="snav.toggle()" mat-icon-button title="Restaurant selector">
                <mat-icon>menu</mat-icon>
            </button>
            <button (click)="openFeedback()" mat-icon-button title="Open feedback panel">
                <mat-icon>feedback</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav
                     [mode]="'side'"
                     fixedTopGap="56"
                     position="end">
            <app-restaurant-selector></app-restaurant-selector>
        </mat-sidenav>

        <mat-sidenav-content style="min-height: calc(100vh - 128px);">
            <mat-list>
                <ng-container *ngFor="let selectedRestaurant of selectedRestaurants; let i=index">
                    <mat-divider *ngIf="i > 0"></mat-divider>
                    <app-restaurant-row [restaurantKey]="selectedRestaurant"></app-restaurant-row>
                </ng-container>
            </mat-list>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>
