<mat-card [formGroup]="movieForm" style="flex-grow: 1">
    <mat-card-subtitle>Základné info</mat-card-subtitle>
    <mat-card-content>
        <div style="display: flex; flex-wrap: wrap;">
            <div style="flex-grow: 4; flex-basis: 100px;">
                <mat-form-field class="full-width">
                    <input formControlName="title" label="Movie title" matInput placeholder="Názov">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input formControlName="titleSk" label="Movie titleSk" matInput placeholder="Slovenský názov">
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Rok výroby</mat-label>
                    <input matInput
                           autocomplete="off"
                           formControlName="year"
                           [matDatepicker]="picker"
                           placeholder="YYYY">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker
                                    startView="multi-year"
                                    (yearSelected)="closeDatePicker(picker, $event)"></mat-datepicker>
                </mat-form-field>
            </div>
            <div *ngIf="movieForm.value.avatar"
                 matTooltip="Show all images"
                 style="padding: 1em 0 1em 1em; flex-grow: 1; text-align: center;">
                <img [src]="movieForm.value.avatar"
                     alt="Movie avatar">
            </div>
        </div>
        <mat-form-field class="full-width">
            <input formControlName="duration" label="Movie duration" matInput placeholder="Trvanie" type="number">
            <span matSuffix>min</span>
        </mat-form-field>
        <app-auto-chips [allItems]="countries$ | async"
                        [placeholder]="'Krajna pôvodu'"
                        formControlName="countries"
        ></app-auto-chips>
        <app-auto-chips [allItems]="genres$ | async"
                        [placeholder]="'Žánre'"
                        formControlName="genres"
        ></app-auto-chips>
    </mat-card-content>
</mat-card>
