<app-abstract-table [data]="makersList$ | async"
                    [tableConfig]="makerConfig">
    <div *tableColumn="'name', let row" style="display: flex; flex-direction: row; align-items: center">
        <img *ngIf="row.avatars && row.avatars[0]"
             [src]="row.avatars[0]"
             (click)="openImageDetail(row.avatars[0])"
             alt="row avatar" style="height: 42px; border-radius: 3px; margin-right: 1em; cursor: pointer">
        <strong>{{row.name}}</strong>
    </div>
    <app-external-links *tableColumn="'external', let row" type="maker" [holder]="row"></app-external-links>
    <div *tableColumn="'detail', let row">
        <button *ngIf="row.id" (click)="movieService.showMakerDetail(row.id)"
                color="primary"
                mat-mini-fab>
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
    <div *tableColumn="'birthday', let row">{{row.birthday | date:"dd.MM.yyyy"}}</div>
</app-abstract-table>
