<div class="ui left demo right vertical sidebar labeled menu" id="searchBar">
    <div class="ui category search item">
        <div class="ui transparent icon input">
            <input class="prompt" placeholder="Search..." type="text">
            <i class="search link icon"></i>
        </div>
        <div class="results"></div>
    </div>
    <div class="item">
        Home
        <div class="menu">
            <a class="active item">Search</a>
            <a class="item">Add</a>
            <a class="item">Remove</a>
        </div>
    </div>
    <a class="item">
        <i class="grid layout icon"></i> Browse
    </a>
    <a class="item">
        Messages
    </a>
    <div class="ui dropdown item" id="searchBarDropdown">
        <i class="dropdown icon"></i>
        <span class="text">More2</span>
        <div class="left menu">
            <a class="item"><i class="edit icon"></i> Edit Profile</a>
            <a class="item"><i class="globe icon"></i> Choose Language</a>
            <a class="item"><i class="settings icon"></i> Account Settings</a>
        </div>
    </div>

</div>
