<div *ngIf="authService.user$ | async as user">

    <div class="box_input">
        <input #file_input class="box__file" data-multiple-caption="{count} files selected" id="file" multiple
               name="files[]" type="file"/>
        <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
        <button (click)="startUpload(file_input.files, user)" class="box_button">Upload</button>
    </div>

    <div *ngIf="percentage | async as pct">
        <progress [value]="pct" max="100"></progress>
    </div>

    <div *ngIf="snapshot | async as snap">
        {{ snap.bytesTransferred }} of {{ snap.totalBytes }}
        <div *ngIf="downloadUrl | async as url">
            <h3>Results!</h3>
            <img [src]="url" alt="">
            <a [href]="url">Download me!</a>
        </div>

        <button (click)="task.pause()">Pause</button>
        <button (click)="task.cancel()">Cancel</button>
        <button (click)="task.resume()">Resume</button>
    </div>
</div>
