.flex-row {
    display: flex;
    flex-wrap: wrap;

    div {
        padding-right: 1em;
    }

    @media only screen and (max-width: 408px) {
        div {
            width: 100%;
        }

    }
}

button, a {
    margin-right: 1em;
}
