/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    //padding: 0;
    box-sizing: border-box;
}

.h-180 {
    height: 180px;
}

html, body {
    height: 100%;
}

table.mat-table {
    min-width: fit-content;
    td.mat-cell, th.mat-cell {
        padding-left: 1em;
        padding-right: 1em;
        &:last-of-type {
            text-align: center;
        }
    }

    @media only screen and (max-width: 726px) {
        td.mat-table-sticky:last-of-type {
            width: 100%;
            padding: 5px
        }
    }
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
    width: 100%;
}
