<div class="avatar-wrapper">
    <img *ngIf="movie.avatar" [src]="movie.avatar[0]" alt="Image avatar" class="avatar">
</div>
<div class="info-wrapper top">
    <div (click)="movieService.showMovieDetail(movie.id)"
         [title]="movie.titleSk || movie.title"
         class="title"
    >
        <span>{{movie.titleSk || movie.title}}</span>
    </div>
</div>
<div class="info-wrapper bottom">
    <div class="sub-info-wrapper">
        <span class="year">{{movie.year}}</span>
        <span class="rating">{{movie.rating}}%</span>
        <span class="duration">{{movie.duration}}min</span>
    </div>
    <div [innerHTML]="movie.content" class="content"></div>
    <div class="footer">
        <app-external-links type="movie" [holder]="movie"></app-external-links>
    </div>
</div>
