<div class="avatar-wrapper">
    <img *ngIf="movie.avatar" [src]="movie.avatar[0]" alt="Image avatar" class="avatar">
</div>
<div class="info-wrapper top">
    <a [routerLink]="'/movies/' + movie.id"
       [matTooltip]="movie.titleSk || movie.title"
       class="title"
    >
        <span>{{movie.titleSk || movie.title}}</span>
    </a>
</div>
<div class="info-wrapper bottom">
    <div class="sub-info-wrapper">
        <span *ngIf="movie.year" matTooltip="Release year" class="year">{{movie.year}}</span>
        <span *ngIf="movie.rating" matTooltip="Rating" class="rating">{{movie.rating}}%</span>
        <span *ngIf="movie.duration" matTooltip="Duration" class="duration">{{movie.duration}}min</span>
    </div>
    <div [innerHTML]="movie.content" class="content"></div>
    <div class="footer">
        <app-external-links inverted="true" style="width: 100%" type="movie" [holder]="movie"></app-external-links>
    </div>
</div>
