<mat-form-field class="number-list" [ngClass]="{'full-width': isNew}">
    <mat-chip-list #chipList [disabled]="disabled">
        <mat-chip *ngFor="let number of  numberList | activePipe: showInactive.value && !isNew; let i = index"
                  [removable]="!disabled"
                  [selectable]="false"
                  (removed)="remove(i)">
            {{number.number}}
            <mat-icon matChipRemove *ngIf="!disabled">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Tel čísla:"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
</mat-form-field>
<mat-slide-toggle *ngIf="!isNew" class="show-all-numbers" [formControl]="showInactive">Aj neaktívne</mat-slide-toggle>
