<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList [disabled]="disabled">
        <mat-chip *ngFor="let number of  numberList; let i = index"
                  [removable]="!disabled"
                  [selectable]="false"
                  (removed)="remove(i)">
            {{number.number}}
            <mat-icon matChipRemove *ngIf="!disabled">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Tel čísla:"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
</mat-form-field>
