table {
    width: 100%;
}

.example-header-image {
    background-size: cover;
    width: 40px;
    height: 40px;
    display: inline-block;

    border-radius: 50%;
}


@media screen and (max-width: 960px) {
    .mat-table22 {
        border: 0;
        vertical-align: middle;

        caption {
            font-size: 1em;
        }

        .mat-header-cell {
            border: 10px solid;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        .mat-row {
            border-bottom: 5px solid #ddd;
            display: block;
        }

        .mat-cell {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: 1em;
            text-align: right;
            font-weight: bold;
            height: 30px;
            margin-bottom: 4%;

            &:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: normal;
                font-size: .85em;
            }

            &:last-child {
                border-bottom: 0;
            }

            &:first-child {
                margin-top: 4%;
            }
        }
    }
}
